.container {
  max-width: 1024px;
  margin: 10px auto;

  .title {
    margin-left: 15px;
    text-transform: capitalize;
    margin-bottom: 30px;
  }

  .table {

    &>thead {

      &>tr {
        
        &>th {
          text-transform: uppercase;
          cursor: pointer;
          white-space: nowrap;
        }
      }
    }

    &>tbody {

      &>tr {
        /* transition the background-color over 1.5s with a linear animation */
        transition: background-color 1.5s linear;
        &.new {
          background-color: rgb(231, 230, 218);    
        }
      }
    }
  }
}
